<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322593112567-nibmqkg4621ciehpi59ih6kglkjg0fef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322593112567-nibmqkg4621ciehpi59ih6kglkjg0fef</string>
	<key>API_KEY</key>
	<string>AIzaSyC4E8HVr_yFbdhtAAiCIXkYBR2OiQABVro</string>
	<key>GCM_SENDER_ID</key>
	<string>322593112567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rebeloper.FirebaseServiceDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-servicedemo-fd879</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-servicedemo-fd879.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322593112567:ios:299f9eaacabb82e7ba6ef2</string>
</dict>
</plist>